div#container{
    display: flex;
    justify-content: center;
    margin: 15px;
    min-height: 100vh;
}
div#content{
    display: flex;
    flex-direction: column;
    width: 1200px;
}
div#title-content{
    display: flex;
    justify-content: end;
    gap: 5px;
}
div#show-string{
    margin-right: auto;
}
#add-recipe{
    height: 100%;
}

div#food-content{
    display: grid;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3,1fr);
}